body{
    background-color: #0f3057;
}
.navbar{
    padding: 20px;
    width: 100%;
}
.text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 400px;
    margin-left: -20px;
    margin-top: 70px;
    color: wheat;
}
#Toptext{
    margin-top: 10px;
    color: wheat;
    font-family: 'Tangerine', serif;
    font-size: 58px;
    font-weight: medium;
}
.image{
    margin-top: 100px;
    height: 500px;
    justify-content: center;
    display: flex;
    align-items: center;
    margin-left: 10px;
}
#name{
    color: #FFC100;
    font-size: 30px;
    font-family: 'Redressed', cursive;
}
span{
    font-family: 'Pirata One', cursive;
font-family: 'Redressed', cursive;
font-size: 20px;
}
#label{
    color: wheat;
}
label{
    color: #FFC100;
}
.Contact{
    margin-top: 30px;
}
.image-cover{
    width: 110px;
    height: 130px;
    border-radius: 40%;
    border: 2px solid white;
    background-image: cover;
}
#deta{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 500px;
    border-right: 2px solid white;
}
.form{
    height: 500px;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: start;
}
form{
    width: 100%;
}
#detap{
    color: wheat;
}
span{
    padding: 5px;
    border-radius: 5px;
    margin: 2px;
}
.skills{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}




/* mmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmm */





@media (max-width:800px){
    .image{
        margin-top: 20px;
    }
    #Toptext{
        font-size: 38px;
    }
    .text{
        justify-content: start;
        align-items: center;
        margin-top: -5px;
    }
    #deta{
        border-right:none;
    }
}
